<hr>
<div class="row mb-2">
  <div class="col-6 text-left">
    <app-size [size]="pageData.size" (changeSize)="onSizeChange($event)"></app-size>
  </div>
</div>
<table class="table table-striped mt-3">
  <thead class="table-primary">
  <tr class="info">
    <th>序号</th>
    <th>姓名</th>
    <th>学号</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of pageData.content, index as index">
    <td>{{ index + 1 }}</td>
    <td>{{ student.name }}</td>
    <td>{{ student.sno }}</td>
    <td>
      <a class="btn btn-sm btn-primary">编辑</a>
      <a class="btn btn-sm btn-danger">删除</a>
    </td>
  </tr>
  </tbody>
</table>
<app-page [page]="pageData.number"
          [size]="pageData.size"
          [totalElements]="pageData.totalElements"
          (changePage)="onPageChange($event)"></app-page>
