<div class="container mt-2">
  <div>
    <a type="button" class="btn btn-secondary" routerLink="component1Path">component1</a>
  </div>
  <div class="mt-2">
    <table class="table table-striped">
      <thead>
      <tr class="table-primary">
        <th *ngFor="let i of example">
          字段{{i}}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>
          <a type="button" class="btn btn-primary" routerLink="component2Path">component2</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <router-outlet></router-outlet>
</div>
